{% extends "sharedMaster.html" %}

{% block pageSpecificContent %}
      	<h3>Create a New Photo to a </h3>        
        <form method="post" action="/AddPhoto" enctype="multipart/form-data">        	
            <div class="clearAll"></div>
            <p>Image Title :
            	<input type="text" name="title" />
            </p>
            <div class="clearAll"></div>
            <p>Image Type :
            	<input type="text" name="type" />
            </p>
            <div class="clearAll"></div>
            <p>Image Caption:
            <textarea name="caption" rows="6" cols="120"></textarea>
            </p>
            <div class="clearAll"></div>
            <p>Icon Image:
            	<input type="file" name="image"/>
                </p>    
            <input type="submit" value="Add Photo To Gallery" />
        </form>
{% endblock %}