{% extends "sharedMaster.html" %}

{% block specificStyleInclude %}

{% endblock %}

{% block specificScriptIncludeTop %}

{% endblock %}

{% block pageSpecificContent %}

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Profile</h2>
                    <h3 class="title-description"></h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Select to Filter</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                        <li><a href="#filter" data-option-value=".workexperience" >Work Experience</a></li>
						<!--<li><a href="#filter" data-option-value=".skills">Programming Skills</a></li>-->
                        <!--<li><a href="#filter" data-option-value=".personalprojects">Applications Developed</a></li>--> 
						<li><a href="#filter" data-option-value=".publication">Publication</a></li> 
						<li><a href="#filter" data-option-value=".undergradprojects">Under-graduation Activities</a></li>
                        <li><a href="#filter" data-option-value=".awards">Awards & Honours</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                        	{% for work in works %}
                        	<li class="item-thumbs span3 {{work.category}}">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{work.title}}" href="/WorkBigImage?key={{work.key.id}}.jpg" link="/Work?name={{work.key.id}}">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="/WorkIcon?key={{work.key.id}}" alt="{{work.description|safe}}">
                            </li>
                        	{% endfor %}
                        </ul>
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
{% endblock %}

{% block specificScriptIncludeBottom %}
<script type="text/javascript">
/*$( document ).ready(function() {
	$( "#firstClick").trigger( "click" );
});*/
</script>
<script type="text/javascript">
	var homePageSliderData = [{image : 'tempasset/homeslide/alltiles.jpg', 
							   title : '<div class="slide-content"><a href="#work">Scroll to see some of these projects</a></div>',
							   thumb : '', 
							   url : ''},
                              {image : 'tempasset/homeslide/xspowerrobots.jpg', 
							   title : '<div class="slide-content"><a href="#work">Robots build during under graduation days</a></div>',
							   thumb : '', 
							   url : ''}                                
                      ];
</script>
{% endblock %}

