<div ><!-- ng-controller="NoteSearchCtrl" ng-init="init()" -->        
    <div class="row">
        <div class="col-lg-12">           
            <div class="title-page">
                <h1 class="title">About Me</h1>                
            </div> 
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="image-wrap">                
                <img src="/img/profile.jpg" alt="Subhasis Dutta">
            </div>            
        </div>
        <div class="col-lg-8 " >
        	<h3 class="profile-name">Subhasis Dutta</h3>
            <p class="profile-description">
            I am a Computer Science graduate student at University of Texas at Dallas. I am currently working on a projects involving Kinect for controlling haptic devices, Using Cassandra for storing massive amount of data and a few others. This website is a collection of my professional, academic and hobby projects.</br>
			I am passionate about Cloud Computing, Internet of Things, Robotics, Augmented Reality, Building scalable web applications and above all amalgamation of these technologies to design aesthetic application.</br>
			Before joining grad school, I was involved in software development for 5 years at General Electric (GE) Healthcare, International Business Machine (IBM) and Infosys.  Apart from this I had collaborated with start-ups in Silicon Valley like Serendio and Infinilytics on building Big data applications. During my under graduation, I had co-founded a start-up XSROBOTICS with an objective to develop robot kits and provide educational training to students.</br>
			I love learning new things and while I am not working I like meeting people and have a good time.
            </p>

        </div>
    </div>
</div>